@using Abp.Authorization.Users
@using NUS.StudentIntegrity.Web.Models.Common.Modals
@using NUS.StudentIntegrity.Web.Models.Users
@model UserListViewModel
@{
    Layout = null;
}
<div id="step2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Step 2: Review and Submit</h4>
            </div>
            <div class="modal-body">
                <!-- Display the entered information for review -->
            </div>
            <div class="modal-footer">
                <button id="submit" class="btn btn-primary">Submit</button>
                <button id="prevStep" class="btn btn-secondary">Previous</button>
            </div>
        </div>
    </div>
</div>
